* {
    margin:0;
    padding:0;
    box-sizing : border-box;
}

img {
    max-width: 85vw;
}

section {
    width: 100%;
    padding: 80px 0;
    background-color: var(--beige);
}

/* Title Description for sections*/
.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    padding: 0 20px;
}

.section-title h2{
    font-size: 50px;
}

.section-title h3{
    font-size: 25px;
}

.row {
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Root Colors*/
:root {
    --black: #000000;
    --white: #ffffff;
    --beige: #EFE0CB;
    --rot: #9D0202;
    --dunkelrot: #550303;
    --shadow: rgb(148, 147, 147);
}

/*Fonts*/
.chonburi-regular {
  font-family: "Chonburi", serif;
  font-weight: 100;
  font-style: normal;
}

.agdasima-regular {
  font-family: "Agdasima", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.agdasima-bold {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/*Text size*/
a { 
    font-family: "Chonburi", serif;
    font-size: large;
}

h1 { 
    font-family: "Chonburi", serif;
    font-weight: 100;}

h2 { 
    font-family: "Chonburi", serif;
    font-weight: 100;}

h3 { 
    font-family: "Chonburi", serif;
    font-weight: 100;}

p  { 
    font-family: "Agdasima", sans-serif; }



.button {
font-family: "Agdasima", sans-serif;
font-size: 30px;
background-color: var(--rot);
color:var(--white);
padding: 10px 20px;
cursor: pointer;
}    

.button:hover{
    background-color: var(--white);
    color: var(--rot);
}
/*Navigation*/
.menu {
    background-color: var(--beige);
    box-shadow: 0px 1px 15px var(--shadow);
    width: 100%;
    z-index: 3;
    position: sticky;
    top: 0;
    padding: 20px 0px;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
}

ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    color: black;
}

ul li a:active{
text-decoration: underline;
}

ul li a:hover{
text-decoration: underline;
text-decoration-color:var(--rot);
text-decoration-thickness: 3px;
}

/*Mobile Menu*/

#menu-toggle {
    display: none;
}

.hamburger {
    color: var(--black);
    padding: 10px 20px;
    font-weight: bold;
    display: none;
}

.hamburger span{
    display:block;
    width: 30px;
    height: 5px;
    background-color: var(--black);
    margin: 5px 0;
    transition: 0.3s ease-in-out;
}

.hamburger:hover {
    cursor:pointer;
}

.menu {
    padding-left:30px ;
}

#menu-toggle:checked ~ .hamburger span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

#menu-toggle:checked ~ .hamburger span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked ~ .hamburger span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

@media (max-width:1020px) {
    .hamburger {
        display: block;
    }

    .menu ul {
        display:none;
        flex-direction: column;
        width: 100%;
        background-color: var(--beige);
        position: absolute;
        top: 100%;
        left:0%;
    }

  #menu-toggle:checked ~ ul {
        display: flex;
    }

    .menu ul a{
    border-bottom: 0.5px solid var(--black); 
    }

}


/*hero section*/

#hero {
    background-color:#EFE0CB;
    padding: 40px 0;
}

.hero_container {
    display: grid;
    place-items: center;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.hero_text, .hero_miata {
    grid-area: 1/1;
}

.hero_text {
    z-index: 1;
    text-align: center;
    width: 100%;
    transform: translateY(-150px)
}

.hero_miata{
    z-index: 2;
    width:100%;
    max-width: 1000px;
    height:auto;
    margin-bottom:400px;
    transform: translateY(270px);
}

.hero_text h3 {
    font-size: clamp(1rem, 5vw, 3rem);
    margin: 0;
    transform: translateX(-2.9em);
}

.hero_text .miata {
    font-size: clamp(3rem, 15vw, 10rem);
    line-height: 0.8;
    margin: 0;
    transform: translateX(0.1em);
}

.hero_text .mx-5 {
    font-size: clamp(3rem, 15vw, 10rem);
    line-height: 0.8;
    margin:0;
    transform: translateX(1.3em);
}

/*Info*/

#info {
    width: 100%;
    min-height: 100vh;
    background-image: url(img/daniel-salcius-aNnimUjVnGg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 0;
}

#info h2{
    font-size: 50px;
}

#info p{
    font-size: 30px;
}
 
#info_row{
    width: 50%;
    max-width: none;
    background-color: rgba(0, 0, 0, 0.623) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.info_text {
    color: white;
    padding: 50px 10%;
}

.wiki {
margin-top:40px;
}

@media (max-width:1020px){
    #info_row{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.623) ;
    }
}


/* Version Timeline */


.versions-timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.versions-timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--rot);
    top: 15px;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: var(--rot);
  border: 4px solid var(--rot);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--rot);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--rot);
}

.right {
  left: 50%;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--rot);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--rot) transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-image: linear-gradient(var(--rot), var(--dunkelrot)) ;
  background-color:var(--rot);
  position: relative;
  border-radius: 6px;
  color:var(--white);
}

.content h3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 600px) {
  .versions-timeline::after {
    left: 31px;
  }

.container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

 .container::before {
    left: 60px;
    border: medium solid var(--rot);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--rot) transparent transparent;
  }

.left::after, .right::after {
    left: 15px;
  }

 .right {
    left: 0%;
  }
}

/* Japan Flag Picture*/
.flag-icon{
    height: 0.7em;
    width: auto;
}


/*Galerie*/

#galerie {
	padding-top:50px;
}


/* Responsive Grid for text*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

}

@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 787px) {
 .grid-container {
    grid-template-columns: 1fr;
  }  
    .card {
    grid-template-columns: 1fr;
    aspect-ratio: auto;
  }
  .card:hover {
    grid-template-columns: 1fr;
  }
  .galerie-wrapper, .galerie-content {
    width: 100%;
  }
}



.grid-container + .grid-container {
  margin-top: 20px;
}

/* Grid for Text and Image*/
.card {
  display: grid;
  aspect-ratio: 1/1;
  grid-template-columns: 1fr 0px;
  transition: grid-template-columns 0.5s ease-in-out;
  overflow: hidden;
  background-color: #900000;
  color: white;
}


.card:hover {
  grid-template-columns: 1.5fr 200px;
}


.image-wrapper img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.galerie-wrapper {
  overflow: hidden;
}


.galerie-content {
  width: 150px; 
  padding: 20px;
  box-sizing: border-box;
}

/* Button Galerie*/
.insta {
	font-size: 10px;
background-color: white;
color:#900000;
padding: 10px 20px;
margin-top:30px;
display: inline-block;
cursor: pointer;
}  
