html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Root Colors*/
:root {
    --black: #000000;
    --white: #ffffff;
    --beige: #EFE0CB;
    --rot: #9D0202;
    --dunkelrot: #830505;
    --shadow: rgb(148, 147, 147);
    --box-shadow: rgba(0, 0, 0, 0.4);
    --bg-stripes: rgba(218, 190, 150, 0.164);
}


/*Darkmode Button*/
/*System-Darkmode*/
@media (prefers-color-scheme: dark) {
    body:not(.light-mode) {
        --beige: #1a1a1a;
        --black: #EFE0CB;
        --white: #121212;
        --shadow: rgba(0, 0, 0, 0.8);
    }

    body:not(.light-mode) section {
        color: var(--black);
    }

    body:not(.light-mode) .headlight {
        height: 18px;
        top: -10px;
        background-color: #333;
        border-radius: 5px 5px 0 0;
        box-shadow: 0 -5px 15px rgba(255, 255, 255, 0.9);
    }

    body:not(.light-mode) .headlight::after {
        opacity: 1;
    }
}

/*Manueller Darkmode*/
body.dark-mode {
    --beige: #1a1a1a;
    --black: #EFE0CB;
    --white: #121212;
    --shadow: rgba(0, 0, 0, 0.8);
    --bg-stripes: rgba(218, 190, 150, 0.027);
}

/*System-Darkmode*/
@media (prefers-color-scheme: dark) {
    body:not(.light-mode) #info .info_text {
        color: #ffffff;
    }
}

/*Manueller Darkmode (Button)*/
body.dark-mode #info .info_text {
    color: #ffffff;
}

body.dark-mode section {
    color: var(--black);
}

body.dark-mode .headlight {
    height: 18px;
    top: -10px;
    background-color: #333;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 -5px 15px rgba(255, 255, 255, 0.9);
}

body.dark-mode .headlight::after {
    opacity: 1;
}

/*Miata Button Styling */
.miata-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
    padding: 10px;
}

.miata-body {
    width: 90px;
    height: 38px;
    background-color: var(--rot);
    border-radius: 15px 15px 8px 8px;
    position: relative;
    box-shadow: 0px 6px 12px var(--box-shadow);
}

.headlight {
    width: 22px;
    height: 6px;
    background-color: #222;
    position: absolute;
    top: 8px;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headlight.left {
    left: 12px;
}

.headlight.right {
    right: 12px;
}

.headlight::after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

/*general settings*/
 
body, section, .menu, .card, .content {
    transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease, box-shadow 0.4s ease;
}

img {
    max-width: 100%;
    height:auto;
}

section {
    width: 100%;
    padding: 80px 0;
    background-color: var(--beige);
}

/* Title Description for sections*/
.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    padding: 0 20px;
}

.section-title h2 {
    font-size: 50px;
}

.section-title h3 {
    font-size: 25px;
}

.row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



/*Fonts*/
.chonburi-regular {
    font-family: "Chonburi", serif;
    font-weight: 100;
    font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/*Text size*/


h1 {
    font-family: "Chonburi", serif;
    font-weight: 100;
}

h2 {
    font-family: "Chonburi", serif;
    font-weight: 100;
}

h3 {
    font-family: "Chonburi", serif;
    font-weight: 100;
}

p {
    font-family: "Ubuntu", sans-serif;
}

/* Button styling*/

.button {
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    background-color: var(--rot);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--white);
    color: var(--rot);
}

/*Navigation*/
.menu {
    background-color: var(--beige);
    box-shadow: 0 1px 10px var(--shadow);
    width: 100%;
    z-index: 3;
    position: sticky;
    top: 0;
    padding: 5px 0;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
}

ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    color: var(--black);
    font-family: "Chonburi", sans-serif;
}

ul li a:active {
    text-decoration: underline;
}

ul li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--rot);
    text-decoration-thickness: 3px;
}

/*Mobile Menu*/

#menu-toggle {
    display: none;
}

.hamburger {
    color: var(--black);
    padding: 10px 20px;
    font-weight: bold;
    display: none;
}

.hamburger span {
    display: block;
    width: 30px;
    height: 5px;
    background-color: var(--black);
    margin: 5px 0;
    transition: 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

.menu {
    padding-left: 30px;
}

#menu-toggle:checked~.hamburger span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

#menu-toggle:checked~.hamburger span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked~.hamburger span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

@media (max-width:1020px) {
    .hamburger {
        display: block;
    }

    .menu ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--beige);
        position: absolute;
        top: 100%;
        left: 0%;
    }

    #menu-toggle:checked~ul {
        display: flex;
    }

    .menu ul a {
        border-bottom: 0.5px solid var(--black);
    }

}


/*hero section*/

#hero {
    background-color: var(--beige);
    padding: 0 0 40px 0;
    overflow: hidden;
}

.hero_container {
    display: grid;
    place-items: center;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

.hero_text,
.hero_miata {
    grid-area: 1/1;
}

.hero_text {
    z-index: 1;
    text-align: center;
    width: 100%;
    align-self: start;
    padding-top: 20px;
}

.hero_miata {
    z-index: 2;
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin-top: 10%;
    align-self: end;
    transform: translateX(-150vw);
    animation: driveIn 1.5s ease-out forwards;
}

@keyframes driveIn {
    to { transform: translateX(0); }
}


.hero_text h3 {
    font-size: clamp(1rem, 4vw, 2rem);
    margin: 0;
    transform: translateX(-2.9em);
}

.hero_text .miata {
    font-size: clamp(4rem, 12vw, 8rem);
    line-height: 0.8;
    margin: 0;
    transform: translateX(0.1em);
}

.hero_text .mx-5 {
    font-size: clamp(4rem, 12vw, 8rem);
    line-height: 0.8;
    margin: 0;
    transform: translateX(1.3em);
}

@media (max-width:787px){
    .hero_miata {
        margin-top:20%;
    }
}

/*Info*/

#info {
    width: 100%;
    scroll-margin-top: 100px;
    background-image: url(img/daniel-salcius-aNnimUjVnGg-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    padding: 0;
}

#info h2 {
    font-size: 50px;
}

#info p {
    font-size: 15px;
    line-height: 1.5;
}

#info_row {
    width: 100%;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.623);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: auto;
    margin: 0;
    padding: 2vh 0;

}

.info_text {
    color: White;
    padding: 50px 10%;
}

.wiki {
    margin-top: 40px;
}

@media (max-width:1050px) {
    #info_row {
        max-width: 100%;
        background-color: rgba(0, 0, 0, 0.623);
    }

    .info h2 {
        font-size: 30px;
    }

    .info p {
        font-size: 20px;
    }

    .button {
        font-size: 20px;
        padding: 8px 15px;
    }

}


/* Version Timeline */

#version {
    background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 30px,
        var(--bg-stripes) 30px,
        var(--bg-stripes) 60px
    );
    background-size: 200% 200%;
    background-position: 0% 0%;
}

.versions-timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.versions-timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--rot);
    top: 15px;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.tl-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.tl-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: var(--rot);
    border: 4px solid var(--rot);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.tl-container.tl-left {
    left: 0;
}

.tl-container.tl-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 31px;
    border: medium solid var(--rot);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--rot);
}

.tl-container.tl-right {
    left: 50%;
}

.tl-container.tl-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 31px;
    border: medium solid var(--rot);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--rot) transparent transparent;
}

.tl-container.tl-right::after {
    left: -16px;
    right: auto;
}

.content {
    padding: 20px 30px;
    background-image: linear-gradient(var(--rot), var(--dunkelrot));
    background-color: var(--rot);
    position: relative;
    border-radius: 6px;
    color: var(--white);
    box-shadow: 0px 5px 15px var(--box-shadow);
    transition: all 0.3s ease;
}

.content:hover {
    box-shadow: 0px 10px 25px var(--box-shadow);
    transform: translateY(-3px);
}

.content h2 {
    color: #f7efe3;
}

.content h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #f7efe3;
}

.content p {
    font-size: 20px;
    color: #f7efe3;
}


@media screen and (max-width: 820px) {
    .versions-timeline::after {
        left: 31px;
    }

    .tl-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .tl-container::before {
        left: 60px;
        border: medium solid var(--rot);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--rot) transparent transparent;
    }

    .tl-container.tl-left::before,
    .tl-container.tl-right::before {
        left: 60px;
        right: auto;
        border: medium solid var(--rot);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--rot) transparent transparent;
    }

    .tl-container.tl-right {
        left: 0%;
    }

    .tl-container.tl-left::after,
    .tl-container.tl-right::after {
        left: 15px;
        right: auto;
    }
}


/* Japan Flag Picture*/
.flag-icon {
    height: 0.7em;
    width: auto;
}

/* Video Showcase*/

#showcase {
    padding-top: 30px;
    background-color: var(--black);
    color: var(--white);
}

.video-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.video-container video {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 12px;
    border: 4px solid var(--rot);
    box-shadow: 5px 5px 10px rgba(157, 2, 2, 0.514);
    display: block;
    transition: transform 0.3s ease;
}

.video-container video:hover {
    transform: scale(1.02);
}

@media (max-width:1020px) {

    .video-container {
        max-width: 100%;
    }

    .video-container video {
        width: 100%;
        border-radius: 0;
        border-top: 4px solid var(--rot);
        border-bottom: 4px solid var(--rot);
        border-left: 0;
        border-right: 0;
        box-shadow: 0px 10px 30px rgba(157, 2, 2, 0.4);
    }
}


/*Galerie*/

#galerie {
    background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 30px,
        var(--bg-stripes) 30px,
        var(--bg-stripes) 60px
    );
    background-size: 200% 200%;
    background-position: 0 0;
    padding-top: 50px;
}


/* Responsive Grid for text*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

}

@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 787px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .card {
        grid-template-columns: 1fr;
        aspect-ratio: auto;
    }

    .card:hover {
        grid-template-columns: 1fr;
    }

    .galerie-wrapper,
    .galerie-content {
        width: 100%;
    }
}

.grid-container+.grid-container {
    margin-top: 20px;
}

/* Grid for Text and Image*/
.card {
    display: grid;
    aspect-ratio: 1/1;
    grid-template-columns: 1fr 0px;
    transition: grid-template-columns 0.5s ease-in-out;
    overflow: hidden;
    background-color: #900000;
    color: white;
    box-shadow: 0px 5px 15px var(--box-shadow);
    border-radius: 12px;
}


.card:hover {
    grid-template-columns: 1.5fr 200px;
}


.image-wrapper img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.galerie-wrapper {
    overflow: hidden;
}

.galerie-content {
    width: 150px;
    padding: 20px;
    box-sizing: border-box;

}

/* Button Galerie*/
.insta {
    font-size: 13px;
    background-color: white;
    color: var(--rot);
    padding: 10px;
    margin-top: 30px;
    display: inline-block;
    cursor: pointer;
    font-family: "Chonburi", sans-serif;
}

/*Treff Animation*/

#treff {
    background-color: var(--black);
    color: var(--white);
    padding: 10px 0 !important;
}

.title-treff {
    margin: 10px 0 !important;
}

.carousel {
    margin: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3em;
    animation: spin 35s Infinite linear;
    padding-right: 3em;
    flex-shrink: 0;
    width: max-content;
    will-change: transform;
}

.card1 {
    flex: 0 0 10em;
    height: 10em;
    padding: 1em;
    align-content: center;
}

@keyframes spin {
    0% {
        transform: translatex(0)
    }

    100% {
        transform: translateX(-100%)
    }
}

.sizing {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

@media (max-width:787px) {
    .card1 {
        flex: 0 0 6em;
        height: 10em;
    }


    .sizing {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }
}


/*footer*/

footer {
    background-color: black;
    color: white;
    padding: 10px;
    height: auto;
   
}

footer img {
    max-height: 20px;
    border:box;
    margin: 0 10px;
}

#footer-text {
margin: 20px 0;
}

@media (max-width:1000px)  {
footer p{
    font-size: 20px !important;
}

footer img {
    max-height: 40px !important;
    margin: 10px;
}

}

/*Impressum*/

#impressum {
    font-family: "Ubuntu", sans-serif !important;
    background-color: var(--beige);
}

#impressum-inhalt{
max-width: 800px;
margin: 50px auto 50px auto;
padding: 0 20px;

}

#impressum-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--beige);
    padding: 30px 0;
    height: 18vh;
}

#impressum-title h2 {
    font-size: 50px;
}

#impressum-inhalt h3, 
#impressum-inhalt p {
    margin: 15px 0;
}

#impressum-link a:visited {
color: var(--rot);
}

#impressum-link a:link {
color: var(--dunkelrot);
}

#home a:visited {
color: var(--rot);
}

#home a:link {
color: var(--dunkelrot);
}

@media (max-width:1000px)  {

    #impressum-title h2 {
    font-size: 40px;
}

#impressum p{
    font-size: 20px !important;
}

#impressum h3 {
    font-size: 30px !important;

}
}